:root {
  --pos: left center;
  --size: 0;
}
.up {
  position: relative;
}
.up:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.1;
  clip-path: circle(var(--size) at var(--pos));
  transition: 0.3s ease-out;
}
.up:hover:before {
  --size: 50px;
}
